<% layout("/layouts/admin_boiler") -%>

<body>
    <!-- Product List -->
    <div class="product-list">
        <table class="product-table">
            <thead>
                <tr>
                    <th>S. No</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Stock</th>
                    <th>Image</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% product.forEach((product, index) => { %>
                    <tr class="product-row">
                        <td><%= index + 1 %></td>
                        <td><%= product.name %></td>
                        <td><%= product.description %></td>
                        <td>$<%= product.price %></td>
                        <td><%= product.stock %></td>
                        <td><img src="<%= product.image_url %>" alt="Product Image" class="product-image"></td>
                        <td>
                            <a href="/adminDashboard/<%= product._id %>" class="btn btn-outline-primary btns">View</a>
                            <form action="/adminDashboard/<%= product._id %>?_method=DELETE" method="POST">
                                <button class="btn btn-outline-danger btns">Delete</button>
                            </form>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</body>